.home {

  .homeContent {
    background: linear-gradient(115deg, $color-1 50%, transparent 100%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      background: url('../../media/mon-image.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(30%);
    }

    .content {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;

      h1 {
        font-size: 5rem;
        font-family: $font-3;
        color: $color-5;
        text-transform: uppercase;
        text-shadow: 3px 6px 2px $black;
      }

      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 0 1rem;
        color: $color-3;
        text-shadow: 1px 4px 1px $black;
      }

      p {
        font-size: 1rem;
        margin: 0% 5% 8% 0%;
        color: $color-3;
        text-shadow: 1px 4px 1px $black;
      }

      .pdf {
        a {
          font-size: 1.5rem;
          background: $color-3;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-4;
          }
        }


      }
    }

    .text-content {
      text-align: justify;

    }
  }

  .showInfos {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.507);
    animation: popup .3s ease forwards;
    transform-origin: center;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;


    .infosContent {
      position: relative;
      margin: 0 auto;
      color: $color-5;
      background: $color-1;
      border-radius: $borderRadius;
      padding: 2rem;
      box-shadow: 0 10px 10px #333;
      animation: popup .6s ease forwards;
      transform: scale(0);
      transform-origin: center;
      max-width: 80%;
      max-height: 80%;
      overflow-y: auto;



      @keyframes popup {
        to {
          transform: scale(1);
        }
      }

      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }

      h2 {
        text-align: left;
        margin-bottom: 1rem;
      }

      .button {
        cursor: pointer;
        color: $color-1;
        background: $color-5;
        border-radius: $borderRadius;
        padding: 1rem;
        transition: .2s;

        &:hover {
          background: $color-4;
        }
      }

      .text {
        text-align: justify;
        padding-bottom: 1rem;
      }

      .return {
        margin: 1rem auto;
        width: 200px;
      }
    }


  }
}



@media screen and (max-width: 850px) {
  .homeContent {
    margin: 0 !important;
  }
}

@media screen and (max-width:580px) {
  .homeContent {
    &:after {
      background: url('../../media/mon-image.jpg') no-repeat 60% 50%/cover !important;
    }

    h1 {
      font-size: 3rem !important;
    }

    h2 {
      font-size: 1.8rem !important;
    }
  }
}